<div ng-repeat="a in announcements">
  <div class="alert alert-{{ a.severityLevel }}">
    <b>{{ a.title }}</b> <br />
    {{ a.message }}
  </div>
</div>

<div class="alert alert-success">
  &nbsp;<img id="orcid-id-logo" src="https://orcid.org/sites/default/files/images/orcid_16x16.png" width='16' height='16' alt="ORCID iD icon"/>
  <b><a href="https://portal.xsede.org/orcid" target="_blank"> Link your ORCID iD and your allocation requests will be posted to your ORCID profile</a></b>
  <ul class="fa-ul">
    <li>
      <i class="fa fa-users fa-lg fa-li" aria-hidden="true"></i>Keep your <a href="https://portal.xsede.org/group/xup/profile">portal user profile</a> up to date! Help us keep our NSF reports accurate!
    </li>
    <li>
      <i class="fa fa-info-circle fa-lg fa-li" aria-hidden="true"></i>
      Need Help? View our <a href="https://portal.xsede.org/allocation-request-steps#home" target="_blank">XRAS Documentation</a>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-1-2">
    <div ng-if="loading.opportunities" class="well">
      <h3><i class="icon icon-spinner icon-spin"></i> Loading opportunities...</h3>
    </div>

    <div ng-if="! loading.opportunities">
      <h3>Available Opportunities</h3>

      <div ng-if="! opportunities.length" class="jumbotron">
        <h3>No opportunities available!</h3>
        <p>
          There aren't any opportunities currently available for submission.
        </p>
      </div>

      <p ng-if="opportunities.length">
        Listed below are the currently open/available submission opportunities
        to which you may submit an allocation request.
      </p>
      <div class="xras-list">
        <div class="opportunity xras-list-item"
          ng-repeat="opportunity in opportunities | orderBy: 'allocationTypeInfo.relativeOrder'"
          ng-include="'views/opportunitySummary.html'"
        ></div>
      </div>
    </div>
  </div>

  <div class="col-1-2">
    <div ng-if="loading.requests" class="well">
      <h3><i class="icon icon-spinner icon-spin"></i> Loading requests...</h3>
    </div>

    <div ng-if="! loading.requests">
      
      <h3>Requests</h3>
      <p ng-if="requests.length">
        Here you can find your prior complete or incomplete submissions, their current status,
        awards, and reviews. You can also ask for extensions, supplements, transfers, and advances here.
      </p>

      <div ng-if="incompleteActions.length" class="alert alert-warning">
        <ul class="fa-ul">
          <li>
            <i class="fa fa-exclamation-triangle fa-lg fa-li" aria-hidden="true"></i>
              You have approved requests with incomplete actions. If you are attempting to finish a supplement,
            extension, etc, go to the Approved tab and view the request to see your edit actions.
          </li>
        </ul>
      </div>

      <div ng-if="! requests.length" class="jumbotron">
        <h3>No requests to display!</h3>
        <p>
          Select from the Available Opportunities on the left to start a new
          Request.
        </p>
      </div>

      <ul class="nav nav-pills">
        <li ng-repeat="status in statuses" ng-class="{'active': requestFilter === status}">
          <a ng-click="filterRequestList(status);">
            {{status}} <span class="badge">{{(filtered = requests|filter:{requestStatus:status}:true).length}}</span>
          </a>
        </li>
      </ul>
      <div ng-repeat="request in requests|filter:{requestStatus:requestFilter}:true|orderBy:'-entryDate':true" ng-include="'views/requestSummary.html'"></div>
    </div>
  </div>
</div>
