<h3>New {{actionType}}</h3>

<div ng-if="loaded">
  <div ng-if="actionType === 'Final Report'">
  <b style="color:red">If you plan to submit a Renewal, Extension or any other allocation request related to this project, please do not submit a Final Report.</b>
</div>

  <h4>To complete this request you should have the following information ready:</h4>
  <div xras-requirements allocation-type="opportunity.allocationType" action-type="actionType"></div>

  <button  ng-disabled="model.saving" ng-click="createAction();" class="btn btn-lg btn-success">
    Start {{actionType}}
  </button>

  <a href="#/requests/{{request.requestId}}" class="btn btn-lg btn-default">
    Cancel
  </a>

</div>
