<h3>Edit {{action.actionType}} Action</h3>

<form name="editActionForm" ng-if="loaded" ng-submit="validateAndSubmit();">
  <fieldset ng-if="action.actionType === 'Final Report'" class="form-group">
    <fieldset class="form-group required">
      <legend>Abstract</legend>
      <textarea name="abstract" id="abstract" ng-model="action.userComments" class="form-control" rows="10"
                placeholder="Describe how XSEDE resources enabled your research."></textarea>
    </fieldset>

    <fieldset class="form-group required">
      <legend>Final Report Documents</legend>
      <div ng-controller="RequestFormDocumentsCtrl" ng-include="'views/requestForm/requestDocuments.html'"></div>
    </fieldset>

    <fieldset class="form-group">
      <legend>Publications (optional)</legend>
      <div ng-controller="RequestFormPublicationsCtrl" ng-include="'views/requestForm/requestPublications.html'"></div>
    </fieldset>

  </fieldset>

  <fieldset ng-if="requireResources" class="form-group">
    <legend>Resources</legend>

    <div class="callout" ng-if="resourceInfo" ng-bind-html="resourceInfo"></div>

    <div ng-controller="ActionResourcesCtrl" ng-include="'views/requestActions/actionResources.html'"></div>
  </fieldset>

  <fieldset ng-if="action.actionType === 'Appeal'" class="form-group">
    <legend>Original Resource Request</legend>
    <div class="callout">
      Request amounts are not editable on an Appeal. Please provide additional justification
      and/or documentation to support your original request amount.
    </div>
    <div ng-repeat="resource in action.resources">
      <h4>{{resource.resourceName}}</h4>
      <div class="input-group">
        <input type="text" disabled value="{{resource.amount|number: 2}}" class="form-control">
        <span class="input-group-addon">{{resourceIndex[resource.resourceId].units}}</span>
      </div>
    </div>
  </fieldset>

  <fieldset ng-if="action.actionType === 'Extension'" class="form-group">
    <legend>Extension</legend>

    <label>Please select your desired extension duration</label>
    <select class="form-control" ng-model="action.allocationDates[0].endDate" ng-options="ext.date as ext.label for ext in dates.extensions">
      <option value="">Choose one</option>
    </select>
  </fieldset>

  <fieldset ng-if="action.actionType !== 'Final Report'" class="form-group">
    <legend>Supporting Documents</legend>
    <div ng-controller="RequestFormDocumentsCtrl" ng-include="'views/requestForm/requestDocuments.html'"></div>
  </fieldset>

  <fieldset ng-if="action.actionType !== 'Final Report'" class="form-group">
    <legend>Comments/Justification</legend>

    <label>Enter comments/justification</label>
    <textarea class="form-control" rows="10" placeholder="Please provide any comments or justification for this request." ng-model="action.userComments"></textarea>
  </fieldset>

  <div class="form-actions">
    <button type="submit"  ng-disabled="model.saving" class="btn btn-success"><i class="icon icon-ok"></i> Submit</button>
    <button type="button"  ng-disabled="model.saving" class="btn btn-default" ng-click="saveAction();"><i class="icon icon-time"></i> Save Changes</button>
    <a href="#/requests/{{request.requestId}}" class="btn btn-default">Cancel</a>
  </div>

</form>
