<div class="request">
  <h2>
    {{request.title || '[Untitled Request]'}}
    <br>
    <small>
      Submission for {{opportunity.name}}
      <a class="btn btn-link" target="_blank" href="#/opportunities/{{request.opportunityId}}">View Opportunity</a>
    </small>
  </h2>

  <div ng-if="request.isReviewsVisible() || request.rules.allowedOperations.length || request.rules.allowedActions.length" class="well well-sm">
    <h4 style="display: inline-block; vertical-align: middle;">Actions:</h4>
    <a ng-if="request.isReviewsVisible()" href="#/requests/{{request.requestId}}/reviews" class="btn btn-success">View Reviews</a>

    <div ng-if="allowedOps.canEdit" class="btn-group">
      <a class="btn btn-default" href="#/requests/{{request.requestId}}/edit">Edit</a>
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/requests/{{request.requestId}}/edit"><i class="icon icon-magic"></i> Guided</a></li>
        <li><a href="#/requests/{{request.requestId}}/edit/advanced"><i class="icon icon-bolt"></i> Advanced</a></li>
      </ul>
    </div>

    <div ng-if="allowedOps.canEdit && request.requestStatus != 'Submitted'" class="btn-group">
      <button type="button" class="btn btn-success" ng-click="finalizeRequest($event, request);">Submit</button>
      <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#" ng-click="finalizeRequest($event, request);">Validate and Submit</a></li>
        <li><a href="#" ng-click="validateRequest($event, request);">Validate Only</a></li>
      </ul>
    </div>

    <div ng-if="request.rules.allowedActions.length" class="btn-group">
      <button class="btn btn-default btn-primary dropdown-toggle" data-toggle="dropdown">
        Actions <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="action in request.rules.allowedActions">
          <a href="#/requests/{{request.requestId}}/new-action/{{action}}">{{action}}</a>
        </li>
      </ul>
    </div>
    <button ng-if="allowedOps.canDelete" type="button" class="btn btn-danger" ng-click="deleteRequest(request);">Delete</button>
  </div>

  <ul class="list-unstyled">
    <li><b>Number</b> {{request.requestNumber}} <i ng-if="!request.requestNumber">(Unassigned)</i></li>
    <li><b>Status</b> <span class="label label-info">{{request.requestStatus}}</span></li>
    <li><b>Type</b> {{request.requestType}}</li>
  </ul>
  <p ng-class="{'alert alert-info':!request.abstract}">
    <b ng-if="request.abstract">Abstract &mdash;</b>
    {{request.abstract || 'Abstract needed!'}}
  </p>
  <p>
    <b>Keywords &mdash;</b>
    {{request.keywords || '(none)'}}
  </p>

  <!-- fos -->
  <h3>Fields of Science</h3>
  <ul class="list-unstyled">
    <li ng-repeat="fos in request.fos">{{fields[fos.fosTypeId].fosName}} <span class="label label-default" ng-if="fos.isPrimary">primary</span></li>
  </ul>
  <p ng-if="request.fos.length === 0" class="alert alert-info">
    No Primary Field of Science specified!
  </p>

  <!-- roles -->
  <h3>Personnel</h3>
  <div class="row">
    <div class="col-1-2" ng-repeat="role in request.roles|orderBy:requestRoleSort">
      <strong><span ng-repeat="r in role.roles|filter:active">{{r.role}}{{$last ? '' : ', '}}</span></strong>
      <address class="request-role" data-role-id="{{id}}" xras-person person="role.person"></address>
    </div>
  </div>

  <!-- actions -->
  <div ng-repeat="action in request.actions | filter: { isDeleted: false }">
    <h3>{{action.actionType}} <span class="label label-default">{{action.actionStatus}}</span></h3>

    <div ng-if="existingActions[action.actionId].canEdit || existingActions[action.actionId].canDelete" class="well well-sm">
      <h4 style="display: inline-block; vertical-align: middle;">Actions:</h4>
      <a ng-if="existingActions[action.actionId].canEdit" href="#/requests/{{request.requestId}}/actions/{{action.actionId}}" class="btn btn-default">Edit</a>
      <button ng-if="existingActions[action.actionId].canDelete" type="button" class="btn btn-danger" ng-click="deleteAction($event, action);">Delete</button>
    </div>

    <div ng-if="action.actionType === 'New' || action.actionType === 'Renewal'" ng-include="'views/requestActions/viewPrimaryAction.html'"></div>
    <div ng-if="action.actionType !== 'New' && action.actionType !== 'Renewal'" ng-include="'views/requestActions/viewSecondaryAction.html'"></div>

  </div>
  <div ng-if="request.actions.length === 0">
    <h3>Actions</h3>
    <div class="alert alert-danger">
      <i class="icon icon-warning-sign"></i>
      <b>Request has no actions!</b> This request is missing any actions. At least one action is required.
    </div>
  </div>

  <!-- grants -->
  <h3>Grants</h3>
  <ol>
    <li ng-repeat="grant in request.grants">
      <b>{{grant.title}}</b> ({{grant.grantNumber}})
      <ul class="list-unstyled">
        <li>
          <b>Funding agency:</b> {{fundingAgencies[grant.fundingAgencyId].fundingAgencyName}}
        </li>
        <li ng-if="grant.programOfficerName">
          <b>Program Officer:</b> <a href="mailto:{{grant.programOfficerEmail}}">{{grant.programOfficerName}} &lt;{{grant.programOfficerEmail}}&gt;</a>
        </li>
        <li ng-if="grant.piName">
          <b>PI:</b> {{grant.piName}}
        </li>
        <li ng-if="grant.beginDate && grant.endDate">
          <b>Dates:</b> {{grant.beginDate}} - {{grant.endDate}}
        </li>
        <li ng-if="grant.awardedAmount">
          <b>Award:</b> ${{grant.awardedAmount}} ({{grant.percentageAward}}% support)
        </li>
      </ul>
      <p ng-if="grant.comments"><b>Comments:</b> {{grant.comments}}</p>
    </li>
  </ol>
  <p ng-if="request.grants.length === 0" class="alert alert-info">
    No grants entered!
  </p>

  <!-- publications -->
  <h3>Publications Resulting from XSEDE Work</h3>
  <ol>
    <li ng-repeat="pub in request.publications">
      <div xras-citation publication="pub.publication"></div>
    </li>
  </ol>
  <p ng-if="request.publications.length === 0" class="alert alert-info">
    No publications entered!
  </p>
</div>
