<h4>
  <span ng-if="renewalNumber">{{opportunity.opportunityName}}: {{renewalNumber}} Renewal</span>
  <span ng-if="!renewalNumber">{{opportunity.opportunityName}}: New Request</span>
</h4>

<div ng-if="opportunity.submissionNotes" class="alert alert-warning" style="white-space:pre-line" ng-bind-html="opportunity.submissionNotes"></div>

<div ng-if="opportunity.allocationType">
  <p ng-bind-html="summaryInfo"></p>
  <h4>To complete this request you should have the following information ready:</h4>
  <ul>
  <div xras-requirements allocation-type="opportunity.allocationType" action-type="renewalNumber ? 'renewal' : 'new'">
    <div ng-if="req === 'documents'">
      <li>{{ reqsMap[req] }}</li>
      <ul>
        <div ng-repeat="doc in bool">
          <li>{{ doc }}</li>
        </div>
      </ul>
    </div>
    <div ng-if="req !== 'documents'">
      <li>{{ reqsMap[req] }}</li>
    </div>
  </div>
  </ul>
</div>

<div ng-if="opportunity.allocationType === 'Research'">
  <h4>Reasons why a proposal may be reduced or rejected</h4>
  <ul>
    <li>Poor, inappropriate or missing scaling/code performance information </li>
    <li>Scaling/code performance information not from resource being requested</li>
    <li>Poor justification for resources and/or amounts requested</li>
    <li>Failure to describe access or lack of access to other resource(s) or failure to describe how proposed work differs from work being done on other resource(s).</li>
    <li>Multiple requests from same PI or same research lab</li>
    <li>Lack of description of research team</li>
    <li>Low productivity from prior XSEDE Research award with no details in Progress Report</li>
  </ul>
  Please contact help@xsede.org if you have any questions about preparing a successful request!
</div>

<button ng-click="createRequest(false);" class="btn btn-success">
  <i class="icon icon-magic"></i>
  Begin Guided Submission
</button>

<!--
<button ng-click="createRequest(true);" class="btn btn-default">
  <i class="icon icon-bolt"></i>
  Begin Advanced Submission
</button>
-->
<a href="#/opportunities/{{opportunity.opportunityId}}" class="btn btn-default">Cancel</a>
