fieldset {
  position: relative;
}

.form-group.required label:after {
  content: "*";
  color: $brand-danger;
  padding: 0 0.2em;
  font-size: 1.2em;
  line-height: 0.833333em;
}

.request-resource::after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
}

.request-resource:last-child::after {
  display: none;
  border: 0;
}

.resource-btn {
  text-transform: none;
  white-space: normal;
  font-size: 1em;
  line-height: 1em;
  letter-spacing: 0;
  padding-left: 3px;
  padding-right: 3px;
}

.resource-btn h4 {
  font-size: 1.2em;
  line-height: 1.4em;
  margin-top: 0;
  margin-bottom: .2em;
}

.request-resource {
  @include animate-fade();
}
