@import "compass/css3";

// Core variables and mixins
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/mixins";

.xras-submit-portlet {

  *, :before, :after {
    @include box-sizing(border-box);
  }

  // Reset and dependencies
  @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/normalize";
  // @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/print";
  // @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";

  // Core CSS
  @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
  @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/type";
  // @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/code";
  @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/grid";
  @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/tables";
  @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/forms";
  @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/buttons";

  // Components
  @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
  @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
  @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
  @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
  @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/navs";
  @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/navbar";
  @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
  // @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/pagination";
  // @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/pager";
  @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/labels";
  // @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/badges";
  @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
  // @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
  @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/alerts";
  // @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
  // @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/media";
  @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/list-group";
  @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/panels";
  // @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
  @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/wells";
  @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/close";

  // Components w/ JavaScript
  // @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/modals";
  @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
  // @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/popovers";
  // @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/carousel";

  // Utility classes
  @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/utilities";
  // @import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

  @import "xsede_reset";
}

// weirdness when this is inside the portlet's css wrapper
@import "twbs-bootstrap-sass/assets/stylesheets/bootstrap/badges";

@import "scaffold";

.xras-submit-portlet {

  .opportunity-action {
    margin-right: 6px;
    margin-bottom: 6px;
    float: left;
  }

  legend {
    padding-top: 20px;
  }

  .list-unstyled {
    margin: 0;
    li {
      margin: 0;
    }
  }

  .callout {
    margin: 10px 0;
    padding: 10px;
    background-color: #f4f8fa;
    border-left: 3px solid #5bc0de;
  }

  .form-control-static {
    border: 1px solid #ccc;
    background-color: #eee;
    font-size: 1.2em;
    line-height: 1.2em;
    padding: .5em;
    border-radius: 4px;
    color: #777;
  }

  .request-abstract {
    white-space: pre-line;
  }

  .publication-authors {
    & > span::after {
      content: ", ";
    }
    & > span:last-child {
      &::after {
        content: "";
      }
    }
  }

  @mixin animate-fade {
    &.ng-enter,
    &.ng-leave {
      @include transition(250ms);
    }

    &.ng-enter {
      opacity: 0;
      &.ng-enter-active {
        opacity: 1;
      }
    }

    &.ng-leave {
      opacity: 1;
      &.ng-leave-active {
        opacity: 0;
      }
    }
  }

  @import "request_form";

  .form-status {
    @include animate-fade();
  }

  @import "wizard";

  .request-action table td {
    width: 50%;
  }

  .animate-fade {
    @include animate-fade();
  }

  .xras-list-item {
    padding-bottom: 1em;
    border-bottom: 1px solid #dedede;
    margin-bottom: 1em;

    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  .impersonation {
    position: absolute;
    top: -10px;
    right: 0;
    width: 250px;
  }

  .block-ui:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }

  .block-ui-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.25);
  }

  .block-ui-modal-dialog {
    z-index: 11;
    background-color: white;
    position: absolute;
    padding: 1em;
    bottom: 0;
    border: 1px solid #999;
  }

  .title-clip {
    max-width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: bottom;
  }

}

.datepicker th {
  text-transform: none;
  background-image: none;
  background-color: transparent;
  font-weight: inherit;
  border: none;
  vertical-align: middle;
}
