<div style="font-weight: bold;" ng-show="attributeSet.attributeSetName" ng-bind-html="attributeSet.attributeSetName"></div>
<div>
  <select ng-model="values[attribute.attributeId].attributeValue" ng-options="attribute.attributeName for attribute in attributeSet.attributes">
    <option value="">Select one...</option>
  </select>
</div>
