<div class="row">
  <div class="col-1-4">
    <div ng-repeat="type in resourceTypes | orderBy : sortResourceType">
      <h4>{{type}} <i class="pull-right icon icon-{{resourceTypeIcon(type)}}"></i></h4>
      <button type="button" class="resource-btn btn btn-block btn-default"
        ng-repeat="r in resourcesByType[type] | orderBy : 'name'"
        ng-class="{'btn-primary active': selectedResources[r.resourceId].selected}"
        ng-click="selectResource(r);"
        xras-resource-tag resource="r">
      </button>
    </div>
  </div>

  <div class="col-3-4">
    <div ng-repeat="res in action.resources | orderBy : sortSelectedResources" class="request-resource">
      <h4>
        {{opportunityResourceIndex[res.resourceId].name}}
        <small>{{opportunityResourceIndex[res.resourceId].description}}</small>
      </h4>

      <p ng-show="selectedResources[res.resourceId].description" ng-bind-html="selectedResources[res.resourceId].description"></p>

      <div class="callout"
        ng-show="opportunityResourceIndex[res.resourceId].siteProviderComments"
        ng-bind-html="opportunityResourceIndex[res.resourceId].siteProviderComments">
      </div>

      <div ng-if="!dependenciesMet(res);" class="alert alert-warning">
        In order to request this resource, you must also request one of the following resources:
        <ul>
          <li ng-repeat="dep in opportunityResourceIndex[res.resourceId].requiredResources">
            <button class="btn btn-link" ng-click="selectResource(opportunityResourceIndex[dep.resourceId]);">
              <b>{{opportunityResourceIndex[dep.resourceId].name}}</b>
              {{opportunityResourceIndex[dep.resourceId].description}}
            </button>
          </li>
        </ul>
      </div>

      <div class="form-group required">
        <label>Amount requested</label>
        <div class="input-group">
          <input type="text" ng-model="res.amount" class="form-control">
          <span class="input-group-addon">{{selectedResources[res.resourceId].units}}</span>
        </div>
      </div>

      <div ng-class="requiredFields.request.actions.userComments.required ? 'form-group required' : 'form-group'">
        <label>Comments</label>
        <textarea ng-model="res.comments" class="form-control"></textarea>
      </div>

      <div ng-if="selectedResources[res.resourceId].attributeSets">
        <div ng-repeat="attrSet in selectedResources[res.resourceId].attributeSets"
          xras-attr-set-form attribute-set="attrSet" values="resourceAttributeMap[res.resourceId]">
        </div>
      </div>
    </div>
  </div>
</div>
