<ol>
  <li ng-repeat="pub in request.publications">
    <button type="button" class="btn btn-xs btn-danger pull-right" ng-click="remove($index, pub);" title="Remove this publication">&times; Remove</button>
    <div xras-citation publication="pub.publication"></div>
  </li>
</ol>

<button type="button" ng-if="!editing" class="btn btn-sm btn-default" ng-click="toggleAvailablePubs(true);">Add Publications</button>
<div ng-if="editing">

  <p class="callout">
    You can add a publication via DOI here if you know the exact DOI. Do not include "http://dx.doi.org/".
    Any publications added here will also be added to your (the submitters') profile, if it has not been added already.
    Other authors on this paper must claim it by visiting the
    <a href="https://portal.xsede.org/publications#/">Publications page</a> in the portal.
  </p>
  <input type="text" ng-model="doiSearch.doi"><button type="button" ng-click="searchByDoi(doiSearch.doi);" class="btn btn-sm btn-default">Add by DOI</button>
  <br/><br/>

  <p class="callout">
    The following publications are available to add to this request. This list
    is generated from publications by users on this request. To add a publication
    that does not appear here, please enter it first as a publication in your
    profile.
  </p>

  <ul>
    <li class="form-group" ng-repeat="pub in notAdded = (availablePublications | filter : filterAddedPubs)" ng-class-odd="stripe-odd" ng-class-even="stripe-even">
      <button type="button" class="btn btn-sm btn-success pull-right" ng-click="add($index, pub);" title="Add this publication"><i class="icon icon-plus-sign"></i> Add to Request</button>
      <div xras-citation publication="pub"></div>
    </li>
  </ul>

  <p class="alert alert-warning" ng-if="! refreshing && availablePublications.length === 0">
    We aren't finding any publications that can be added to this request.
  </p>

  <p class="alert alert-error" ng-if="doiSearch.doiSearchError">
    {{ doiSearch.doiSearchErrorText }}
  </p>

  <p class="alert alert-info" ng-if="! refreshing && availablePublications.length > 0 && notAdded.length === 0">
    There aren't any more publications to add!
  </p>

  <button type="button" ng-click="toggleAvailablePubs(false);" class="btn btn-sm btn-default">Finished Adding Publications</button>
  <button type="button" ng-click="updateAvailablePubs();" class="btn btn-default btn-sm">
    <i class="icon icon-refresh" ng-class="{'icon-spin': refreshing}"></i>
    {{refreshing ? 'Refreshing list...' : 'Refresh list'}}
  </button>
</div>
