<div ng-if="opportunity.allocationType === 'Startup'" class="callout">
  <b>NSF Fellows:</b>
  NSF Fellows applying as a Principal Investigator on a request <b>must</b>
  include their NSF Fellowship Grant information below. Failure to provide
  this information will prevent or delay the acceptance of your request!
</div>
<div class="callout">
  <b>IMPORTANT:</b>
  All funding used to support the Research Plan of an XRAC Research Request must be reported
  in the Supporting Grants form in the XRAS submission. Reviewers use this information to assess
  whether the PI has enough support to accomplish the Research Plan, analyze data, prepare publications, etc.
  Supporting grant information is also used in the reconciliation process if the total recommended
  awarded from the XRAC panel exceeds the available allocations, to balance or remove over-subscription
  on one or more resources giving preference to NSF-funded requests.
</div>

<ol>
  <li ng-repeat="grant in request.grants">
    <b>{{grant.title}}</b> ({{grant.grantNumber}})
    <div class="row">
      <div class="col-2-3">
        <ul class="list-unstyled">
          <li>
            <b>Funding agency:</b> {{fundingAgencyMap[grant.fundingAgencyId].fundingAgencyName}}
          </li>
          <li ng-if="grant.programOfficerName">
            <b>Program Officer:</b> <a href="mailto:{{grant.programOfficerEmail}}">{{grant.programOfficerName}} &lt;{{grant.programOfficerEmail}}&gt;</a>
          </li>
          <li ng-if="grant.piName">
            <b>PI:</b> {{grant.piName}}
          </li>
          <li ng-if="grant.beginDate && grant.endDate">
            <b>Dates:</b> {{grant.beginDate}} - {{grant.endDate}}
          </li>
          <li ng-if="grant.awardedAmount">
            <b>Award:</b> ${{grant.awardedAmount}} ({{grant.percentageAward}}% support)
          </li>
        </ul>
      </div>
      <div class="col-1-3 text-right">
        <button type="button" class="btn btn-sm btn-default" ng-click="edit($index, grant);" title="Edit this grant"><i class="icon icon-edit"></i> Edit</button>
        <button type="button" class="btn btn-sm btn-danger" ng-click="remove($index, grant);" title="Remove this grant">&times;</button>
      </div>
    </div>
  </li>
</ol>

<div style="position:relative">
  <button type="button" class="btn btn-sm btn-default" ng-click="add();">Add a Supporting Grant</button>
  <div ng-if="editing" class="block-ui-modal"></div>
  <div ng-if="editing" class="block-ui-modal-dialog" ng-class="{'block-ui': saveProgress}">
    <alert ng-repeat="msg in messages | filter : {key: 'grants'} : true" message="msg" close="close(message);"></alert>
    <div class="form-group">
      <label>You can auto-fill some NSF or other agency grant information by entering the grant or project number into the
        Grant Number field and clicking the appropriate button below. For NSF awards, enter the 7-digit award number only.
        For <a href="https://api.federalreporter.nih.gov/html/Agencies.html">other agencies</a>, the value entered must
        match the Project Number used at the <a href="https://federalreporter.nih.gov/">Federal Reporter website</a>.</label>
      <div class="row">
        <div class="col-1-3">
          <button type="button" class="btn btn-sm btn-success" ng-click="searchNSF();">Autofill NSF Grant Information</button>
        </div>
        <div class="col-2-3">
          <button type="button" class="btn btn-sm btn-success" ng-click="searchNIH();">Autofill Federal Reporter Grant Information</button>
        </div>
        <div class="col-3-3">
          <div ng-if="awardError" style="color:red; font-weight: bold;">Unable to find grant. Please check that you're entering the correct NIH/NSF Grant Number.</div>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-1-3">
          <div ng-class="requiredFields.request.grants.grantNumber.required ? 'form-group required' : 'form-group'">
          <label>Grant Number</label>
          <input type="text" class="form-control" ng-model="editing.grantNumber" placeholder="Grant number">
          </div>
        </div>

        <div class="col-2-3">
          <div ng-class="requiredFields.request.grants.title.required ? 'form-group required' : 'form-group'">
          <label>Title</label>
          <input type="text" class="form-control" ng-model="editing.title" placeholder="Grant Title">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1-3">
          <div ng-class="requiredFields.request.grants.fundingAgencyId.required ? 'form-group required' : 'form-group'">
          <label>Funding Agency <i class="fa fa-info-circle" aria-hidden="true" title="For grants spanning several years, enter the Award Amount for a 12-month period. For grants covering less than 12 months, enter the full award amount."></i></label>
          <select class="form-control" ng-model="editing.fundingAgencyId" ng-options="fa.fundingAgencyId as fa.fundingAgencyName for fa in fundingAgencyList | orderBy:'fundingAgencyName'">
            <option value="">Choose Funding Agency</option>
          </select>
          </div>
        </div>
        <div class="col-1-3">
          <div ng-class="requiredFields.request.grants.programOfficerName.required ? 'form-group required' : 'form-group'">
          <label>Program Officer</label>
          <input type="text" class="form-control" ng-model="editing.programOfficerName" placeholder="Name of Program Officer">
          </div>
        </div>
        <div class="col-1-3">
          <div ng-class="requiredFields.request.grants.programOfficerEmail.required ? 'form-group required' : 'form-group'">
          <label>Program Officer Email</label>
          <input type="text" name="programOfficerEmail" class="form-control" ng-model="editing.programOfficerEmail" placeholder="Email of Program Officer">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1-3">
          <div ng-class="requiredFields.request.grants.piName.required ? 'form-group required' : 'form-group'">
          <label>PI</label>
          <input type="text" class="form-control" ng-model="editing.piName" placeholder="Name of the PI on the Grant">
          </div>
        </div>

        <div class="col-1-3">
          <div ng-class="requiredFields.request.grants.beginDate.required ? 'form-group required' : 'form-group'">
          <label>Begin date</label>
          <div class="input-group date" ng-twbs-datepicker ng-options="datepickerOpts" ng-model="editing.beginDate"></div>
          </div>
        </div>
        <div class="col-1-3">
          <div ng-class="requiredFields.request.grants.endDate.required ? 'form-group required' : 'form-group'">
          <label>End date</label>
          <div class="input-group date" ng-twbs-datepicker ng-options="datepickerOpts" ng-model="editing.endDate"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1-3">
          <div ng-class="requiredFields.request.grants.awardedAmount.required ? 'form-group required' : 'form-group'">
          <label>Award Amount</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control" ng-model="editing.awardedAmount" placeholder="Award amount">
          </div>
          </div>
        </div>
        <div class="col-1-3">
          <div ng-class="requiredFields.request.grants.percentageAward.required ? 'form-group required' : 'form-group'">
          <label>Percentage Support <i class="fa fa-info-circle" aria-hidden="true" title="The estimated percentage of the annual Award Amount that is supported by the work described in this allocation request."></i></label>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="editing.percentageAward" placeholder="Percentage of support for this work">
            <span class="input-group-addon">%</span>
          </div>
          </div>
        </div>
        <div class="col-1-3">
          <div ng-class="requiredFields.request.grants.primaryFosTypeId.required ? 'form-group required' : 'form-group'">
          <label>Grant Primary Field of Science</label>
          <select class="form-control" ng-model="editing.primaryFosTypeId" ng-options="field.fosTypeId as field.fosName for field in fields|filter:{isActive:true}|orderBy:'fosName'">
            <option value="">Select Field of Science</option>
          </select>
          </div>
        </div>
      </div>

    <div ng-class="requiredFields.request.grants.comments.required ? 'form-group required' : 'form-group'">
      <label>Comments</label>
      <textarea rows="5" class="form-control" ng-model="editing.comments" placeholder="Enter any comments regarding this grant"></textarea>
    </div>

    <button type="button" class="btn btn-sm btn-success" ng-click="submit();">Add Grant to Request</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="cancel();">Cancel</button>
    <span ng-show="saveProgress"><i class="icon icon-spinner icon-spin"></i> Saving grant...</span>
  </div>
</div>
