<div class="row">
  <div class="col-3-5">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="search.username" placeholder="Enter username to lookup" ng-enter="addRole();">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click="addRole();">
            <i class="icon icon-search"></i> Find &amp; Add to Request
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="col-2-5">
    <span ng-if="loading" class="form-status">
      <i class="icon icon-spinner icon-spin"></i> Looking up person...
    </span>
  </div>
</div>

<div ng-repeat="role in request.roles|filter:isNotUser" class="row">
  <div class="col-2-5">
    <label>Person</label>
    <br />
    <b><span ng-repeat="r in role.roles">{{r.role}}{{$last ? '' : ', '}}</span></b>
    <address xras-person person="role.person"></address>
  </div>
  <div class="col-2-5">
    <div class="form-group required">
      <label>Role</label>
      <select class="form-control" ng-model="primaryRole.role" ng-init="primaryRole = userPrimaryRole(role);"
          ng-options="r.roleType as r.displayRoleType for r in availableRoles | filter:singlePiRole(role) | orderBy:'displayRoleType'">
        <option value="">Select role</option>
      </select>
    </div>

    <!-- @TODO hardcoded workaround to keep this from displaying on this opportunity specifically -->
    <div ng-if="opportunity.allocationType !== 'XSEDE Rapid Response'">
    <div ng-if="showNsfFellowsOption(role);" class="checkbox">
      <label>
        <input type="checkbox" ng-click="toggleNsfFellows($event, role);" ng-checked="isNsfFellow(role);">
        This person is an <b>NSF Graduate Research Fellowship Recipient</b>
      </label>
    </div>
    </div>
  </div>
  <div class="col-1-5" ng-if="! isCurrentUser(role.person.username);">
    <label>&nbsp;</label>
    <div><a class="btn btn-sm btn-danger" ng-click="removeRole(role);" title="Remove role">&times</a></div>
  </div>
</div>
