<div ng-class="requiredFields.request.title.required ? 'form-group required' : 'form-group'">
  <label for="title">Title</label>
  <input type="text" name="title" id="title" ng-model="request.title" placeholder="Request title" class="form-control">
</div>

<div ng-class="requiredFields.request.abstract.required ? 'form-group required' : 'form-group'">
  <label for="abstract">Abstract</label>
  <textarea name="abstract" id="abstract" class="form-control" rows="10"
    placeholder="Describe the science that will be enabled by XSEDE resources."
    ng-model="request.abstract"></textarea>
</div>

<div ng-class="requiredFields.request.keywords.required ? 'form-group required' : 'form-group'">
  <label for="keywords">Keywords</label>
  <input type="text" name="keywords" id="keywords" ng-model="request.keywords" placeholder="Enter multiple keywords separated commas" class="form-control">
</div>

<div class="form-group required">
  <label>Field of Science</label>
  <div class="row" ng-repeat="fos in request.fos">
    <div class="col-4-5">
      <select ng-model="fos.fosTypeId" id="fos_{{$index}}" class="form-control" ng-options="field.fosTypeId as field.displayName for field in activeFos|orderBy:'fosNum'" options-disabled="!field.isSelectable for field in activeFos|orderBy:'fosNum'">
        <option value="">Choose one</option>
      </select>
    </div>
    <div class="col-1-5">
      <div class="row">
        <div class="col-2-3">
          <label><input ng-model="fos.isPrimary" ng-checked="fos.isPrimary" type="checkbox" ng-change="selectPrimaryFos($index);"> Primary</label>
        </div>
        <div class="col-1-3">
          <a ng-click="removeFos($index);" class="btn btn-danger btn-xs">&times;</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1-1">
      <button type="button" class="btn btn-default" ng-click="addFos();">Add Field of Science</button>
    </div>
  </div>
</div>

<!-- form-group start -->
  <!-- Hoping we can ditch this hardcoding later! -->
  <div class="callout" ng-if="opportunity.allocationType=='XSEDE Campus SSO Integration'">
    <div ng-class="requiredFields.request.actions.allocationDates.endDate.required ? 'form-group required' : 'form-group'">
    <p>Please select your desired allocation end date for this request. The default allocation length is 12 months.</p>
    <div class="row">
    <div class="col-1-3">
      <label>Allocation end date</label>
      <div class="input-group date" ng-twbs-datepicker ng-options="datepickerOpts" ng-click="dateChange();" ng-model="allocationDate.endDate"></div>
    </div>
    </div>
    </div>
  </div>

  <div class="callout" ng-if="opportunity.allocationType=='Educational'">
    <div ng-class="requiredFields.request.actions.allocationDates.endDate.required ? 'form-group required' : 'form-group'">
    <p>Please select your desired allocation end date for this request. Educational projects should select an end date within two weeks of the end of the semester or associated training event. The default allocation length is 12 months.</p>
    <div class="row">
      <div class="col-1-3">
        <label>Allocation end date</label>
        <div class="input-group date" ng-twbs-datepicker ng-click="dateChange();" ng-options="datepickerOpts" ng-model="allocationDate.endDate"></div>
      </div>
    </div>
    </div>
  </div>


  <div class="callout" ng-if="opportunity.allocationType=='Startup'">
    <div ng-class="requiredFields.request.actions.allocationDates.endDate.required ? 'form-group required' : 'form-group'">
    <p>Please select your desired allocation end date for this request. Startup projects may select end dates that align with their Supporting Grants. The default allocation length is 12 months.</p>
    <div class="row">
      <div class="col-1-3">
        <label>Allocation end date</label>
        <div class="input-group date" ng-twbs-datepicker ng-options="datepickerOpts" ng-click="dateChange();" ng-model="allocationDate.endDate"></div>
      </div>
    </div>
    </div>
    </div>

<!-- form-group end -->

  <div ng-if="opportunity.allocationType!='XSEDE Campus SSO Integration' && opportunity.allocationType!='Educational' && opportunity.allocationType!='Startup'">
    <div ng-if="opportunity.defaultAllocationAwardPeriod" class="callout">
      <label>Allocation period</label>
      <p>Requests submitted to this opportunity, if approved, will be active for <b>{{opportunity.defaultAllocationAwardPeriod}} months</b>.</p>
    </div>


    <div ng-if="!opportunity.defaultAllocationAwardPeriod">
      <p>Please select your desired allocation start and end dates for this request.</p>
      <div ng-class="requiredFields.request.actions.allocationDates.endDate.required && requiredFields.request.actions.allocationDates.beginDate.required ? 'form-group required' : 'form-group'">
      <div class="row">
        <div class="col-1-3">
          <label>Allocation start date</label>
          <div class="input-group date" ng-twbs-datepicker ng-options="startEndDateOpts" ng-click="dateChange();" ng-model="allocationDate.beginDate"></div>
        </div>

        <div class="col-1-3">
          <label>Allocation end date</label>
          <div class="input-group date" ng-twbs-datepicker ng-options="startEndDateOpts" ng-click="dateChange();" ng-model="allocationDate.endDate"></div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
