<div ng-if="loading">
  <div class="lead text-center">
    <i class="icon icon-spinner icon-spin"></i> Loading...
  </div>
</div>
<div ng-hide="loading">
  <h2>
    <div class="pull-right">
      <span ng-show="savingChanges" class="form-status">
        <i class="icon icon-spinner icon-spin"></i> Saving changes...
      </span>
      <button type="button" class="btn btn-default" ng-click="advanced();" ng-disabled="savingChanges">
        <i class="icon icon-bolt"></i> Advanced
      </button>
    </div>
    Editing Request: <span class="title-clip">{{request.title || '[Untitled Request]'}}</span><br>
    <small>{{request.requestType}} Submission for {{opportunity.name}}</small>
  </h2>

  <form name="requestForm" ng-class="{'block-ui':savingChanges}">
    <div wizard class="wizard" edit-mode="request.requestId" current-step="wizardStep" on-finish="submitRequest();">

      <section wz-step wz-title="Personnel">
        <h3>Personnel / Roles <span style="font-size: 12px;"><a target="_blank" href="https://portal.xsede.org/allocation-request-steps#personnel"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a></span></h3>

          <div style="color:red;"><b>To add roles or users, the user must have successfully logged into the XSEDE User Portal and agreed to the
          Acceptable Use Policy.

          Adding project roles and users below will serve to re-verify those accounts for the renewal allocation period.
        You will not need to re-do this step later in the XSEDE portal.</b></div>
        <p class="callout">
          You must add roles or users by entering their XSEDE portal username. For security reasons, we do not permit you to
          search to find portal usernames. After entering the username, the person's full name, email address, institution,
          and phone number are shown for confirmation. Then you can select the person's role for the request.

          By default, you will be added to the request as an Allocation Manager. You can update your role to be PI or Co-PI,
          if applicable.

          <br /><br />
          To help us understand the impact of XSEDE and improve our reporting to NSF, please have
          your team keep their user profiles up to date, including the optional demographic details if possible
        </p>

        <h4>PI, Co-PIs, and Allocation Managers</h4>
        <div style="color:red;"><b>If this request is awarded, these Roles will replace ALL roles from prior allocation periods,
          including PI, Co-PI(s), and Allocation Managers. You can add/remove Allocation Managers after the request is
          awarded via the XSEDE User Portal.</b></div><br />
        <div ng-controller="RequestFormRoleCtrl" ng-include="'views/requestForm/requestRoles.html'"></div>
        <hr>

        <h4>Users (optional)</h4>
        <p class="callout">
          If you already know the users that should be added to this project, you can add them now. If this request is awarded, these user accounts will be considered re-verified. Otherwise, no changes or verifications occur.
          <br>
          <button type="button" class="btn btn-default" ng-click="showAddUsers = ! showAddUsers"><i class="icon icon-group"></i> Add Users</button>
        </p>
        <div ng-show="showAddUsers">
          <div ng-controller="RequestFormUserCtrl" ng-include="'views/requestForm/requestUsers.html'"></div>
        </div>
      </section>

      <section wz-step wz-title="Title/Abstract">
        <h3>Title, Abstract, Field of Science <span style="font-size: 12px;"><a target="_blank" href="https://portal.xsede.org/allocation-request-steps#title"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a></span></h3>
        <div class="callout">
          Here is where you specify the title and abstract for your allocation request. In the abstract please describe
          your research in a clear and concise manner. Someone outside of your field of research should be able to
          understand your proposal. This section also enables you to specify a primary field of science and, if applicable,
          any additional fields of science.
        </div>
        <div ng-controller="RequestFormInfoCtrl" ng-include="'views/requestForm/requestInfo.html'"></div>

        <div ng-if="opportunity.attributeSets.length">
          <h3>Additional Project Information</h3>
        <!--<div class="callout">
           Please answer the questions below percentage of the work you
           expect to do in this allocation and what percentage of the science runs you expect to perform in this allocation.
        </div>-->
          <div ng-controller="RequestFormOpportunityCtrl" ng-include="'views/requestForm/requestOpportunity.html'"></div>
        </div>
      </section>

      <section wz-step wz-title="Resources">
        <h3>Specify Resources <span style="font-size: 12px;"><a target="_blank" href="https://portal.xsede.org/allocation-request-steps#resources"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a></span></h3>
        <div class="callout">
          Resources are broken into three areas, Advanced Services, Compute, and Storage.
          Advanced Services are for consulting/collaboration with XSEDE staff to improve the productivity
          of the XSEDE user community through successful, meaningful collaborations which optimize applications,
          improve work and data flows, increase effective use of the XSEDE digital infrastructure and broadly
          expand the XSEDE user base by engaging members of underrepresented communities, domain areas and gateways.
          Compute resources are available from many cores/nodes, GPUs, large memory, visualization and VMs.
          Lastly, Storage resources are available and most compute resources have a complementing storage resource.
          More details on XSEDE Allocated resources can be found <a href="https://www.xsede.org/ecosystem/resources">here</a>.

          It is assumed that code performance/scaling testing has been done on the resources being requested, either through a Startup award, Campus Champion award or a prior Research award.
        </div>
        <div class="portlet-msg-info">
          For additional assistance selecting an appropriate resource please contact the XSEDE Help Desk at help@xsede.org
        </div>

        <fieldset ng-if="action.actionType === 'New' || action.actionType === 'Renewal'" class="form-group required">
          <legend>Disclosure of Access to Other Compute Resources</legend>

          <div class="callout">
            Because of the high demand for XSEDE-allocated resources, XSEDE and the XRAC closely consider whether the PI has access to other,
            less constrained resources on which the proposed work could be conducted.
            All PIs must describe their local resources and other non-XSEDE resources available to them.
            <b>Please also include details of collaboration on other XSEDE Research allocations.</b>
            For more information, please <a href="https://portal.xsede.org/allocations/research#maindoc-accesstoresources">refer to our documentation</a>.
          </div>

          <label>Disclose Access to Other Compute Resources</label>
          <textarea class="form-control" rows="10" placeholder="Please disclose access to other compute resources." ng-model="action.userComments"></textarea>
        </fieldset>
        <div ng-controller="RequestFormResourcesCtrl" ng-include="'views/requestForm/requestResources.html'"></div>
      </section>

      <section wz-step wz-title="Documents">
        <h3>Supporting Documents <span style="font-size: 12px;"><a target="_blank" href="https://portal.xsede.org/allocation-request-steps#documents"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a></span></h3>
        <div class="callout">
          - CV for PI and all co-PI(s)
          * <i>XSEDE portal ids are needed for each PI, co-PI and Allocations Manager</i><br />
          - Main document <br/>
          - Code Performance and Scaling document * <i>performance/scaling should be from resource(s) being requested</i><br />
          - Progress report if renewal submission<br />
          - Additional documents if needed (references, special requirements…). To address reviewer comments directly, please include the optional document <i>Addressing Reviewer Comments</i>.<br/><br/>

          Please see:

          <a href="https://portal.xsede.org/allocations/research#requiredcomponents">https://portal.xsede.org/allocations/research#requiredcomponents</a>

          for more details!
          Please upload any supporting documents in PDF format. Other document formats are not accepted at this time.
        </div>

        <div ng-controller="RequestFormDocumentsCtrl" ng-include="'views/requestForm/requestDocuments.html'"></div>
      </section>

      <section wz-step wz-title="Grants">
        <h3>Supporting Grants (Optional) <span style="font-size: 12px;"><a target="_blank" href="https://portal.xsede.org/allocation-request-steps#grants"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a></span></h3>
        <div class="callout">
          In the submission form, you will be asked to report on Supporting Grants, you will be requested to check whether
          you have a Supporting Grant(s) or not.  If checked that a Supporting Grant(s) exists, there is one field on the form,
          “Percentage of Support”, where you are expected to list what percentage of the
          supporting grant that will be applied to the computational work being performed on the XSEDE allocated resources.
        </div>
        <div style="position:relative">
          <label>
           Is this project supported by grants?
                <input type="radio" ng-model="request.isSupportedByGrants" name="isSupportedByGrants" ng-value="true"> Yes
                <input type="radio" ng-model="request.isSupportedByGrants" name="isSupportedByGrants" ng-value="false" ng-checked="true"> No
          </label>
        </div>
        <div ng-show="request.isSupportedByGrants">
        	<div ng-controller="RequestFormGrantsCtrl" ng-include="'views/requestForm/requestGrants.html'"></div>
	</div>
      </section>

      <section wz-step wz-title="Publications">
        <h3>Publications Resulting from XSEDE Work <span style="font-size: 12px;"><a target="_blank" href="https://portal.xsede.org/allocation-request-steps#publications"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a></span></h3>
        <div class="callout">
          Attach any publications that resulted from use of earlier allocations to this project. Select the "Add Publications"
          button to see publications from your user profile that you can add to this request. You can add more publications
          by DOI with the option at the end of the list.
          You must <a href="https://portal.xsede.org/group/xup/publications/submit/-/pubs-submit/">add works in progress
          or otherwise without DOI</a> through your portal user profile.
        </div>
        <div ng-controller="RequestFormPublicationsCtrl" ng-include="'views/requestForm/requestPublications.html'"></div>
      </section>

      <section wz-step wz-title="Submit">

        <div ng-if="validation.status === 'validating'">
          <h3>Request Validation</h3>
          <div class="jumbotron">
            <p class="text-center lead">
              <i class="icon icon-spinner icon-spin"></i>
              Validating request...
            </p>
          </div>
        </div>

        <div ng-if="validation.status === 'invalid'">
          <h3>Fix Errors <span style="font-size: 12px;"><a target="_blank" href="https://portal.xsede.org/allocation-request-steps#submit"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a></span></h3>
          <p class="alert alert-danger" ng-repeat="error in validation.errors track by $index">{{error}}</p>
          <p>
            There are errors that need to be fixed before your request can
            be submitted.
          </p>
        </div>

        <div ng-if="validation.status === 'valid'">
          <h3>Request Ready to Submit</h3>
          <p class="lead">
            Congratulations! Your request is ready for submission. Click below
            to submit your request. If you are not quite ready to submit your
            request you can save and return to submit it at a later time.
          </p>
          <button ng-disabled="savingChanges" type="submit" class="btn btn-success btn-lg" wz-finish>
            <i class="icon icon-ok"></i>
            Submit Request
          </button>
          <button type="button" class="btn btn-default btn-lg" ng-click="saveForLater();">
            <i class="icon icon-time"></i>
            Save for Later
          </button>
        </div>

      </section>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <button type="button" ng-if="wizardStep !== 'Personnel'" class="btn btn-default navbar-btn navbar-left" ng-disabled="savingChanges" ng-click="saveAndStep(false);"><i class="icon icon-arrow-left"></i> Previous</button>
          <button type="button" ng-if="wizardStep !== 'Submit'" class="btn btn-primary navbar-btn navbar-right" ng-disabled="savingChanges" ng-click="saveAndStep(true);">Next <i class="icon icon-arrow-right"></i></button>

          <div ng-if="savingChanges" class="navbar-text text-center" style="float:none;">
            <i class="icon icon-spinner icon-spin"></i> Saving changes...
          </div>
        </div>
      </nav>
    </div>
  </form>
</div>
